matplotlib>=3.2.2
numpy>=1.18.5
opencv-python==4.7.0.68
opencv-contrib-python==4.7.0.68
opencv-python-headless==4.7.0.68
Pillow>=7.1.2
onnx
onnx-simplifier
onnxruntime
onnxsim
easydict
scipy>=1.4.1





